.index {
  position: relative;
  padding-left: 3rem;
  width: 100%;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .index-container {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.song-display {
  position: fixed;
  height: 100px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(48, 48, 48);
  display: flex;
  color: white;
}
//********************seekbar********//
.seekbar {
  flex-direction: row;
  align-items: center;
  display: flex;

  .seekbar-btn-minus {
    padding: 0px 10px;
    border-radius: 15px;
    margin: 0px 15px;
  }
  .seekbar-btn-plus {
    padding: 0px 10px;
    border-radius: 15px;
    margin: 0px 15px;
  }

  .input-range {
    width: 200px;
    height: 10px;
  }

  .timer {
    margin: 0px 10px;
  }
}

//****************track**************//
.track {
  display: flex;
  justify-content: center;
  align-items: center;

  .track-img {
    height: 84px;
    width: 84px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

//***************************CONTROLS**************//
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 302px;
}
