.card {
  padding: 20px;
  .card-img {
    height: 14rem;
    width: 14rem;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .title {
    font-size: 1.125rem;
    width: 14rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
