.discovery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.discovery-scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll;

  .discovery-scroll-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Cacher la barre de défilement pour un élément spécifique, par exemple ".discovery-scroll" */
.discovery-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
