.flex {
  display: flex;
  flex-wrap: wrap;
}

.main-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll;
}

.scrollable-content {
  width: 100%;
}
.main-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
